.image-view-selection:hover{
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.image-drag-over {
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.tables:hover, .tables-drag-over{
    -fx-background-color: -my-background;
    -fx-opacity: 0.5;
}

.activated-character-card{
    -fx-border-color: red;
    -fx-border-width: 5;
}

.selected-character-pieces{
    -fx-border-color: white;
}